/* BASE */
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Lobster&family=Oswald:wght@200&family=Press+Start+2P&family=Special+Elite&display=swap');

$paleta1: #0081a7;
$paleta2: #00afb9;
$paleta3: #dad7cd;
$paleta4: #a3b18a;
$paleta5: #f07167;

body {
    background-color: $paleta4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

@mixin links {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}