/* FOOTER INCLUYE MIXING EN SOCIALES*/
footer {
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: $paleta3;

    .tarjetas {
        background-image: url(../img/pattern.jpg);
        font-weight: bold;
        color: $paleta6;

        p {
            color: $paleta6;
            font-weight: bold;
        }

        .telefonos {
            font-family: Holtwood One SC;
            display: block;
            color: $paleta6;

        }

        img {
            margin-bottom: 10px;
        }
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        background-color: $paleta3;

        li {
            font-size: x-large;
            color: $paleta4;

            a {
                @include links;
                &:hover {

                    color: $paleta1;
                }
            }
        }

        .facebook i {
            font-size: x-large;
            color: #3b5998;
        }

        .you i {
            font-size: x-large;
            color: #FF0000;
        }

        .instagram i {
            font-size: x-large;
            color: #ee640e;
        }

        .twitter i {
            font: x-large;
            color: #1DA1F2;
        }

    }

    .textoFoot {
        background-color: $paleta3;
        width: 100%;
        font-size: 10px;
        color: $paleta6;
    }
}