.oferta {
    h5 {
        font-family: Holtwood One SC;
        color: $paleta3;
        width: 100%;
        height: auto;
    }
    p {
        color: $paleta3;
        font-weight: bold;
        font-size: small;
        width: 100%;
        height: auto;
    }
    img {
        width: 100%;
        height: auto;
    }
}