.oferta {
    .card-header{
        background-color: $paleta3;
        color: $paleta6;
        font-size: 20px;
        font-family: Holtwood One SC;
    }
    .card-body {
        background-image: url(../img/oferta1.jpg);
        background-size: cover;
        
    }
    p {
        color: $paleta3;
        font-family: oswald;
        font-size: larger;
    }
    h5 {
        color: $paleta3;
        font-family: Holtwood One SC;
    }
}