/* PRODUCTOS */
h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;

}

.productos p {
    font-family: 'Oswald', sans-serif;
    font-size: large;
    background-color: #F1FAEE;
    border-radius: 4px;
}

.productos img {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    &:hover {
        -webkit-filter: brightness(100%);
    }
}

img {
    border-radius: 4px;
}