/* REQUISITOS */

.requi {
    margin-bottom: 20px;


    .card-body {
        background-color: $paleta3;

    }

    .card1 {
        padding: 5px;

    }

    .card2 {
        padding: 5px;

    }

    .card3 {
        padding: 5px;

    }

    .card4 {
        padding: 5px;

    }
}